<div class="container-fluid headp">
  <div class="row mt-4 mb-4">
    <h2 class="title w-100"> Scrape-It </h2>
    <img class="burgerpng" src="./img/scrapeIt.png" alt="burger-image">
  </div>
  <div class="row mx-auto justify-content-center">
    <h3 class="w-100 text-center title">Lets scrap Indiatimes Entertainment!!!</h3>
    <button type="submit" class="btn btn-info mt-2" id="scrape">Scrape New Articles</button>
  </div>
</div>
<div class="container-fluid">

  <div class="mb-4">
    <h1 class="mt-2 mb-2"> Saved Articles</h1>
    {{#unless isDataPresent}}
    <h4 class="text-white"> Oops! I couldnt find any saved articles , Please scrape and save some?</h4>
    {{/unless}}
  </div>

  <div class="card-group">

    {{#if isDataPresent}} {{#each article}}
    <div>
      <div class="card bg-dark text-white m-2">
        <img class="card-img" src="{{this.imgURL}}"
          alt="Card image">
        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
          <!-- <h5 class="card-title">Card title</h5> -->
          <a href="{{this.link}}" target="_blank"
            class="card-text align-bottom text-white">{{this.title}}</a>
          <p class="card-text text-warning">{{this.shares}}</p>
          <a>
            <button type="submit" class="btn btn-info" id="submit">Notes</button>
            <button type="submit" class="btn btn-danger" id="submit">Delete</button>
          </a>
        </div>
      </div>
    </div>
    {{/each}} {{/if}}

  </div>

</div>