body {
    /* background-color:  rgba(244, 102, 49,0.9); */
    background-color: #ed5565;
    width: 80%;
    margin: auto;
}

.burgerpng {
    max-width: 150px;
    max-height: 150px;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color:rgb(255, 224, 224);
    align-self: center;
    text-align: center;
}

#submit {
    color: bisque;
}

.itemwrap{
    background-color: wheat;
}

.endwrap {
    background-color: silver;
}

.remove {
    position: absolute;
    right: 2px;
    cursor: pointer}
.notes {
    margin: 5px 5px 5px 5px;
}

.blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}